absl-py==1.4.0
asttokens==2.2.1
astunparse==1.6.3
backcall==0.2.0
brotlipy==0.7.0
cachetools==5.3.0
chardet==5.1.0
charset-normalizer==3.0.1
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
flatbuffers==23.1.21
fonttools==4.38.0
gast==0.4.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.51.1
h5py==3.8.0
keras==2.11.0
mkl-service==2.4.0
networkx==3.0
numpy==1.24.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
oauthlib==3.2.2
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.72
shapely==2.0.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
ultralytics==8.0.147